# Ambiente virtual

venv/
.env/

# Python cache

**pycache**/
scripts/**pycache**/

# Arquivos compilados

*.pyc
*.pyo
*.pyd

# Arquivos de sistema

.DS_Store
Thumbs.db

# Credenciais / segredos

credentials.json
.env

# VS Code

.vscode/

# Logs

*.log
